html {
    margin: 1rem;
    scroll-behavior: smooth;
}

header {
    height: 20vh;
}

main {
    width: 100%;
    height: 80vh;
}

a:hover {
    color: white;
}

.card-deck {
    justify-content: space-between;
}

ul > li >a, ul > li > a:visited, ul > li > a:hover{ 
    font-weight: 600;
}

body {
    background: rgb(248, 248, 248);
}

hr {
    border: none;
    color: white;
    height: 1px;
    background-color: rgb(33, 37, 41);
}

.btn-dark {
    color: white;
}

.btn-main {
    display: flex;
    justify-content: center;
}

.card {
    margin-bottom: 1rem !important;
}

.card-img {
    width: 100%;
    height: 17rem;
    object-fit: contain;
}

.card-text {
    margin-top: 1rem;
}

[class*="devicon"] {
    font-size: 4.2rem;
    margin: 1rem 1rem;
}


.display-4 {
    margin: 2rem;
}

.project-btns {
    display: flex;
    justify-content: center;
    width: 40%;
}

.row {
    margin-bottom: 2rem;
}

.skill-used {
    font-size: 2.0rem;
    margin: 0.5rem;
}

.skills-used {
    width: 59%;
}

@media (max-width: 1200px) {
    
    header {
        height: auto;
    }
    
    main {
        width: 100%;
        height: 100%;
    }

    .btn-main {
        flex-direction: column;
    }

    [class *= "col"]{
        margin-bottom: 1rem;
    }

    .desktop-visible{
        display: none;
    }
    
    .row {
        margin-bottom: 0;
    }

    .project-btns {
        flex-direction: column;
    }
}

.contact-btns {
    display: flex;
}

.contact-btn {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0 1rem;
}